* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: Arial;
    height: 100vh;
}

header {
    height: 10%;
    background-color: #495F75;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

main {
    height: 80%;
    display: flex;
}

form {
    width: 30%;
    background-color: #DCD7D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form label {
}

article {
    background-color: #E6CDAE;
    display: flex;
    flex-direction: column;
    width: 70%;
}

article h1 {
    background-color: #D28140;
    color: white;
    padding: 20px;
}

article p {
    text-indent: 30px;
}

.tresc {
    display: flex;
    flex: 1;
}

.lewo,
.prawo {
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10%;
    background-color: #495F75;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}