.articles-section {
    width: 60%;
    margin: 40px auto;
    font-family: Arial, sans-serif;
    padding-bottom: 100px
}


.articles-header {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}


.articles-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #007BFF;
}


.articles-header p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.5;
}


.articles-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}


.article-card {
    background-color: #f7f7f7;
    border-radius: 12px;
    width: 100%;
    padding-top: 100%;
    /* kwadrat */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #007BFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}


.article-card a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: inherit;
}


.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: #e6f2ff;
}


@media screen and (max-width: 1200px) {
    .articles-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 800px) {
    .articles-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 500px) {
    .articles-grid {
        grid-template-columns: 1fr;
    }
}